<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book | {% block title %}Home{% endblock %}</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'recipe_list' %}">Recipe Book</a></h1>
        <nav>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}"><button>Login</button></a>
            {% endif %}
        </nav>
    </header>

    <h2>{% block page_heading %}Welcome{% endblock %}</h2>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
