{% extends "base.html" %}

{% block page_heading %}Recipe Details{% endblock %}

{% block content %}
<h1>{{ recipe.name }}</h1>
<p>By: {{ recipe.author.username }}</p>
<p>Created on: {{ recipe.created_on|date:"F d, Y H:i" }}</p>
<p>Last updated: {{ recipe.updated_on|date:"F d, Y H:i" }}</p>

<h2>Ingredients:</h2>
<ul>
    {% for ingredient in ingredients %}
        <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
    {% empty %}
        <li>There are no added ingredients.</li>
    {% endfor %}
</ul>

<a href="{% url 'recipe_list' %}"><button>Back to Recipes</button></a>
{% endblock %}
